<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <div>
        <a><img class="logo" src="logo.png"></a>
    </div>
    <div class="div1">
        <h1 class="letras">SPECIALIST IN AWESOME<br><a>PHOTOGRAPHY</a><br>LET ME CAPTURE YOUR MOMENTS</h1>
        <a><img class="imagen"src="camara.png"></a>
    </div>
    <div class="div2">
        <div>
            <h1 class="h1">RECENT<br>PHOTOS</h1>
            <input type="button" value="Portfolio" class="boton">
        </div>
        <img class="perro" src="THOR.jpg">
        <img class="perro" src="THOR.jpg">
        <img class="perro" src="THOR.jpg">
        <img class="perro" src="THOR.jpg">
    </div>
    <hr>
    <footer class="pie">This is Photoshop's version, Miguel esto es el pie de pagina de abajo pero no voy a <br>copiar lo que viene tal como es pero te escribo algo para que veas que esta ok<br>Las fotos que he metido son mi perro de verdad.</footer>
</html>
