<!DOCTYPE html>
<html class="color">
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
<div class="div1">
    <h1 class="h">Mail Chimps</h1>
    <input class="button" type="submit" value="Sign up free">
</div>
<div class="div2">
    <a class="Imagen"><img src="mono.png"></a>
    <div>
        <h1 class="h2">Easy Email<br>Newsletter</h1>
        <p>
        Mail chimp help u design newsletter,share them on social<br>
        networks, integrate with services you already use, and track your<br>
        results. It's like your own personal publishing platform.
        </p>
        <input class="button2" type="submit" value="Sign up free"><br>
        <a>Need convincing?</a>
    </div>   
</div>
<div class="div3">
    <div>
        <a><img class="imagen1" src="movil.jpg"></a>
        <p>Mail chimp Research:</p>
        <h1>Email on mobile<br>Device</h1>
    </div>
    <div>
        <a><img class="imagen1" src="movil.jpg"></a>
        <p>App Spotlight:</p>
        <h1>Mailchimp Mobile</h1>
    </div>
    <div>
        <a><img class="imagen1" src="movil.jpg"></a>
        <p>App Spotlight:</p>
        <h1>Chimpadeedoo</h1>
    </div>
    <div>
        <a><img class="imagen1" src="movil.jpg"></a>
        <p>Integration Spotlight:</p>
        <h1>Hootsuite</h1>
    </div>
</div>
</html>