.mydiv {
    border: 3px solid blue;
    width:600px;
    padding:20px;
    font-weight: bold;
}
.b {
    color: blue;
}
.pd {
    width: 400px;
    margin-right:200px;
}
.m  input{
    margin-top:5px;
}
.f{
    position: flex;
}
.boton {
    margin:8px;
    margin-top:12px;
}
